@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .size-6 {
        width: 1.5rem; /* or whatever size you want */
        height: 1.5rem;
    }
}

.simple-link-button {
    @apply rounded-md px-3 py-2 text-black ring-1 ring-transparent transition hover:text-black/70 focus:outline-none focus-visible:ring-[#FF2D20] dark:text-white dark:hover:text-white/80 dark:focus-visible:ring-white;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 51% 4%;
        --success-background: 120 100% 50%;
        --muted: 240 25% 86%;
        --muted-foreground: 240 7% 25%;
        --popover: 240 66% 98%;
        --popover-foreground: 20 51% 3%;
        --card: 240 66% 98%;
        --card-foreground: 20 51% 3%;
        --border: 240 15% 94%;
        --input: 240 15% 94%;
        --primary: 224.3 76.3% 48%;
        --primary-foreground: 0 0% 100%;
        --secondary: 240 12% 92%;
        --secondary-foreground: 240 12% 32%;
        --accent: 240 12% 92%;
        --accent-foreground: 240 12% 32%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 0 0% 100%;
        --success: 120 100% 50%;
        --success-foreground: 120 100% 100%;
        --ring: 224.3 76.3% 48%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;

        /* SideBar */
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;

        /* Table Cards */
        --card-primary: 280 100% 22%;
        --card-primary-foreground: 0 0% 100%;

        /* Light Mode Colors */
        --card-monday: 210 80% 60%;
        --card-monday-foreground: 0 0% 0%;

        --card-tuesday: 30 90% 70%;
        --card-tuesday-foreground: 0 0% 20%;

        --card-wednesday: 120 80% 50%;
        --card-wednesday-foreground: 0 0% 0%;

        --card-thursday: 300 70% 60%;
        --card-thursday-foreground: 0 0% 20%;

        --card-friday: 60 95% 65%;
        --card-friday-foreground: 0 0% 0%;

        --card-saturday: 240 100% 40%;
        --card-saturday-foreground: 0 0% 100%;

        --card-sunday: 0 80% 80%;
        --card-sunday-foreground: 0 0% 20%;
    }

    .dark {
        --background: 253 43% 3%;
        --foreground: 253 31% 98%;
        --success-background: 120 100% 50%;
        --muted: 253 7% 13%;
        --muted-foreground: 253 13% 63%;
        --popover: 253 43% 3%;
        --popover-foreground: 253 31% 98%;
        --card: 253 43% 4%;
        --card-foreground: 253 31% 99%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --primary: 224.3 76.3% 48%;
        --primary-foreground: 0 0% 100%;
        --secondary: 253 7% 9%;
        --secondary-foreground: 253 7% 69%;
        --accent: 253 13% 14%;
        --accent-foreground: 253 13% 74%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 0 0% 100%;
        --success: 120 100% 50%;
        --success-foreground: 120 100% 100%;
        --ring: 224.3 76.3% 48%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;

        /* SideBar */
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;

        /* Table Cards */
        --card-primary: 280 100% 22%;
        --card-primary-foreground: 0 0% 100%;

        /* Dark Mode Colors */
        --card-monday: 210 80% 30%;
        --card-monday-foreground: 0 0% 100%;

        --card-tuesday: 30 90% 40%;
        --card-tuesday-foreground: 0 0% 80%;

        --card-wednesday: 120 80% 25%;
        --card-wednesday-foreground: 0 0% 100%;

        --card-thursday: 300 70% 35%;
        --card-thursday-foreground: 0 0% 80%;

        --card-friday: 60 95% 45%;
        --card-friday-foreground: 0 0% 100%;

        --card-saturday: 240 100% 20%;
        --card-saturday-foreground: 0 0% 100%;

        --card-sunday: 0 80% 50%;
        --card-sunday-foreground: 0 0% 80%;
    }
}

@layer utilities {
    .min-h-screen {
        min-height: 100vh; /* Fallback */
        min-height: 100dvh;
    }
    .h-screen {
        height: 100vh; /* Fallback */
        height: 100dvh;
    }
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 10px;
    border: 3px solid rgb(255 255 255 / 0.8);
}

::-webkit-scrollbar-track {
    background-color: rgb(255 255 255 / 0.8);
    border-radius: 10px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #374151 rgb(255 255 255 / 0.8);
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
